header{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

header ul, header ul li{
    display: inline-block;
}

header a{
    color: white;
}

main{
    margin-top: 60px;
}

footer{
    text-align: center;
}

a, a:hover, a:visited{
    text-decoration: none;
}

#img_gabriel{
    border-radius: 50%;
    max-width: 20%;
    min-width: 300px;
}